{% extends "base.html" %}

{% block content %}
<table class="table cart-table">
    <thead>
        <tr>
            <th>#</th>
            <th>Product Name</th>
            <th>Product Price</th>
        </tr>
    </thead>
    <tbody class="cart-body">

        {% for product in cart.products.all %}
        <tr class="cart-product">
            <th scope="row">{{ forloop.counter }}</th>
            <td>
                <a href="{{ object.get_absolute_url }}">{{product.title}}</a>
                {% include "carts/snippets/remove_product.html" with product_id=product.id %}
            </td>
            <td>{{ product.price }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2"></td>
            <td><b>Subtotal</b> <span class="cart-subtotal"> {{cart.subtotal}} </span></td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td><b>Total</b> <span class="cart-total"> {{ cart.total }} </span></td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td><a class="btn btn-lg btn-success" href="{% url 'carts:checkout'%}">Checkout</a></td>
        </tr>
    </tbody>
</table>
<div class="cart-item-remove-form" style="display: none">
    {% include "carts/snippets/remove_product.html" %}
</div>
{% endblock %}