<div class="card" style="width: 18rem;">
    {% if instance.image %}
    <a href="{{ instance.get_absolute_url }}"><img class="card-img-top" src="{{ instance.image.url }}" alt="Card image cap"></a>
    {% endif %}
    <div class="card-body">
        <a href="{{ instance.get_absolute_url }}"><h5 class="card-title">{{ instance.title }}</h5></a>
        <p class="card-text">{{ instance.description|truncatewords:10 }}</p>
        <a href="{{ instance.get_absolute_url }}" class="btn btn-primary">Details</a>
        {% include "products/snippets/update_cart.html" with product=instance cart=cart %}
    </div>
</div>