{% extends "base.html" %}

{% block content %}

<div class="row mb-3">
    {% if query %}
    <div class="col-12 mb-3">
        Result for <b>{{ query }}</b>
        <hr>
    </div>
    {%else%}
    <div class="col-12 col-md-6 mx-auto py-5">
        {% include "search/snippets/search.html" %}
    </div>
    <div class="col-12">
        <hr>
    </div>
    {%endif%}
</div>

<div class="row">

    {% for obj in object_list %}
    <div class="col">
        {% include "products/snippets/card.html" with instance=obj %}
    </div>
    {% endfor %}
</div>
{% endblock %}