<form method="GET" action="{% url 'search:query' %}" class="form my-2 my-lg-0">
    <div class="input-group">
        <input class="form-control" type="search" placeholder="Search" name="q" value="{{ request.GET.q }}"
            aria-label="Search">
        <span class="input-group-btn">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </span>
    </div>
</form>