{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include "base/css.html" %}
</head>

<body>
    <!-- using with send value to navbar.html file -->
    {% include "base/navbar.html" with brand_name="N Brand" %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    {% include "base/js.html" %}

    <script type="text/javascript">
        $(document).ready(function () {
            // Jquery is ready

            var productForm = $(".form-product-ajax")
            productForm.submit(function (event) {
                event.preventDefault()
                var thisForm = $(this)
                // var actionEndPoint = thisForm.attr("action");
                var actionEndPoint = thisForm.attr("data-endpoint");
                var httpMethod = thisForm.attr("method");
                var formData = thisForm.serialize();
                console.log(actionEndPoint, ", ", httpMethod, ", ", formData)
                $.ajax({
                    url: actionEndPoint,
                    method: httpMethod,
                    data: formData,
                    success: function (data) {
                        var submitSpan = $(".submit-span")
                        console.log(data)
                        if (data.added) {
                            submitSpan.html("<button type='submit' class='btn btn-link' style='padding: 0px;'>Remove?</button>")
                        } else {
                            submitSpan.html("<button type='submit' class='btn btn-success'>Add to cart</button>")
                        }
                        var navbarCount = $(".navbar-cart-count")
                        navbarCount.text(data.cartItemsCount)
                        var currentCart = window.location.href

                        if (currentCart.indexOf("cart") != -1) {
                            refreshCart()
                        }
                    },
                    error: function (errorData) {
                        console.log("error:\n\t", errorData)
                    }
                })
            })
            function refreshCart() {
                console.log("refreshCart")
                var cartTable = $(".cart-table")
                var cartBody = cartTable.find(".cart-body")
                // cartBody.html("<h1>changed</h1>")
                var productRows = cartBody.find(".cart-product")
                var currentUrl = window.location.href


                var refreshCartUrl = "/api/cart/";
                var refreshCartMethod = "GET";
                var data = {}

                $.ajax({
                    url: refreshCartUrl,
                    method: refreshCartMethod,
                    data: data,
                    success: function (data) {
                        var hiddenCartItemRemoveForm = $(".cart-item-remove-form")
                        if (data.products.length > 0) {
                            productRows.html("")
                            var i = data.products.length;
                            $.each(data.products, function (index, value) {
                                var newCartItemRemove = hiddenCartItemRemoveForm.clone()
                                newCartItemRemove.css("display", "block")
                                newCartItemRemove.find(".cart-item-product-id").val(value.id)
                                console.log("id is: ", value.id)
                                cartBody.prepend("<tr><th scope=\"row\">" + (i--) + "</th><td><a href='" +
                                    value.url + "'>" + value.title + "</a><br>" + newCartItemRemove.html() + "</td><td>" + value.price + "</td></tr>")
                            })
                            cartBody.find(".cart-subtotal").text(data.subtotal)
                            cartBody.find(".cart-total").text(data.total)
                        }
                        else {
                            window.location.href = currentUrl
                        }
                    },
                    error: function (errorData) {
                        console.log("error:\n\t", errorData)
                    }
                })
            }

        })
    </script>
</body>

</html>