{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="clm-12 clm-md-6">
        <h3>{{ object.title }}</h3>
        {{object.timestamp|timesince}} ago
        <h4>Price: {{ object.price }}</h4>
        <p>{{ object.description|linebreaks }}</p>
    </div>
    {% if object.image %}
    <img src="{{ object.image.url }}" alt="">
    {% endif %}
    <div class="clm-12 clm-md-6">
        {% include "products/snippets/update_cart.html" with product=object cart=cart %}
    </div>
</div>

{% endblock %}